<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Semillero</title>
	<!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!--Lo que sigue a continuacion lo comenté porque no me andaba el toggle del nav bar
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- Css -->
	<link rel="stylesheet" href="../static/indexcss.css" th:href="@{/static/indexcss.css}">
	
</head>
<body class="bg-light" cz-shortcut-listen="true" style="padding: 25px;">
									<!--Principio Navbar-->
<!--aca implementamos el fragment-->
<div th:replace="navbar::navbar">
</div>
									<!--Fin Navbar-->

<!--Cards:-->
	<div class="row row-cols-1 row-cols-md-3 g-4">
	  <div class="col" th:each="libro : ${libros}" style="margin-top: 20px;">
	    <div class="card h-100">
	      <img th:src="'/imagen/libro/'+*{libro.isbn}" class="card-img-top" alt="..."  style="width: 100%; height: 15vw; object-fit: cover;">
	      <div class="card-body">
	        <h5 class="card-title" th:text=${libro.titulo}></h5>
	        <p class="card-text">Left to rent: <span th:text=${(libro.ejemplares-libro.prestados)}></spanth:text=${(libro.ejemplares-libro.prestados)}></p>
	        <button type="button" class="btn btn-success">Detail</button>
	        <button type="button" class="btn btn-success">Add</button>
	        	<button type="button" class="btn btn-dark" sec:authorize="hasRole('ROLE_ADMIN')" th:value="${libro.isbn}"> 
	        		<a th:href="@{/libro/buscarlibro}+'?isbn='+${libro.isbn}">Edit</a></button>
	    		</button>
	    		<button type="button" 
	        		class="btn btn-danger"
	        		sec:authorize="hasRole('ROLE_ADMIN')" 
	        		th:value="${libro.isbn}"
	        		click=agregar(hola)>
	        		<a th:href="@{/libro/eliminarLibro}+'?isbn='+${libro.isbn}">Delete</a>
				</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script>
		const saludo= agregar(constante);
		
	
	</script>
<!--Fin Cards-->
</body>
</html>