<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Book register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
</head>
<body class="bg-light" cz shortcut-list="true" style="padding: 25px;">
										<!--Principio Navbar-->
<!--aca implementamos el fragment-->
<div th:replace="navbar::navbar">
</div>
									<!--Fin Navbar-->
	<div class="py-5 text center">
		<h1>Book register</h1>
			<br />
		
		<p>To return to the main menu<a href="/"> HERE</a></p>
			<hr/>
	</div>

	<form class="needs-validation" action="/libro/libro" method="POST" enctype="multipart/form-data">
		<div class="row g-4">
			<div class="col-sm-6">
				<label class="form-label" for="isbn">ISBN</label>
				<input id="isbn" type="number" name="isbn" class="form-control">
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="titulo">Title</label>
				<input id="titulo" type="text" name="titulo" class="form-control">
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="anio">Year</label>
				<input id="anio" type="number" name="anio" class="form-control">
			</div>
			<div class="col-sm-6">
				<label class="form-label" for="ejemplares">Quantity</label>
				<input id="ejemplares" type="number" name="ejemplares" class="form-control">
			</div>
			<!--Autor-->
			<div class="mb-3">
              <label class="form-label">Enter the author of the book you want</label>
          		<select class="form-select" aria-label="Default select example" name="autorId">
        				<option th:each="autor :${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
    	    	</select >
			</div>
			<!--Fin Autor-->
			<!--Editorial-->
			<div class="mb-3">
              <label class="form-label">Enter the editorial of the book you want</label>
          		<select class="form-select" aria-label="Default select example" name="editorialId">
        				<option th:each="editorial :${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
    	    	</select >
			</div>
			<!--Fin Editorial-->
			
			<!-------------------------Portada----------------------------------------------------------->
			<div class="mb-3">
                <label class="form-label" for="portada">Portada</label>
                <input id="archivo" type="file" name="portada" class="form-control"
                    accept="image/png, .jpeg, .jpg, image/gif" onchange="loadFile(event)">
                <img id="output" style="visibility: hidden" src="#" alt="your image" />
                <script>
                    var loadFile = function (event) {
                        var output = document.getElementById('output');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.style.width = '200px';
                        output.style.visibility = 'visible';
                        output.style.heigth = 'auto';
                        output.classList.add('my-2');
                        output.onload = function () {
                            URL.revokeObjectURL(output.src) // free memory
                        }
                    };
                </script>
            </div>
            <!-------------------------------------Fin portada-------------------------------------->
			<div class="col-sm-12 pull right">
				<button class="btn btn-success" type="submit" style="float:right;">Next
			</div>			
			<hr>			
		</div>
	</form>		
</body>
</html>