<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Loan register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light" cz shortcut-list="true">
										<!--Principio Navbar-->
<!--aca implementamos el fragment-->
<div th:replace="navbar::navbar">
</div>
									<!--Fin Navbar-->
	<div class="py-5 text center">
		<h1>Loan register</h1>
			<br>
		
		<p>To return to the main menu<a href="/"> HERE</a></p>
			<hr/>

<!--Para consultar si el cliente existe por DNI-->
<!--Debe devolver un cartel que avise que no existe ningun cliente con ese dni en caso de que así sea:-->	

	<form class="needs-validation" action="/prestamo/consultarCliente" method="GET">				
		<div class="row g-3">			
			<div class="col-sm-4">
				<label class="form-label" for="documento">Client Document (DNI)</label>
				<input id="documento" type="number" name="documento" class="form-control">
			</div>
			<div class="col-sm-12 pull right">
				<button class="btn btn-success" type="submit" style="float:right;">Save
			</div>
		</div>
	</form>
<!--Para cargar un cliente que no se encuentra en la base de datos:-->
<h4><i>In case the client is not in the database, please upload their data</i></h4>
	<br>	
	<form class="needs-validation" action="/prestamo/guardarCliente" method="POST">
		<div class="row g-3">
			<div class="col-sm-4">
				<label class="form-label" for="documento">DNI</label>
				<input id="documento" type="number" name="documento" class="form-control">
			</div>
			<div class="col-sm-4">
				<label class="form-label" for="nombre">Name</label>
				<input id="nombre" type="text" name="nombre" class="form-control">
			</div>
			<div class="col-sm-4">
				<label class="form-label" for="apellido">Lastname</label>
				<input id="apellido" type="text" name="apellido" class="form-control">
			</div>
			<div class="col-sm-4">
				<label class="form-label" for="domicilio">Address</label>
				<input id="domicilio" type="text" name="domicilio" class="form-control">
			</div>
			<div class="col-sm-4">
				<label class="form-label" for="telefono">Tel</label>
				<input id="telefono" type="text" name="telefono" class="form-control">
			</div>										
			<div class="col-sm-12 pull right">
				<button class="btn btn-success" type="submit" style="float:right;">Save
			</div>
		</div>
	</form>		
</body>
</html>